<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Habit Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Habit Tracker</h1>
  <ul>
    <% habits.forEach((habit, index) => { %>
      <li>
        <%= habit.name %>
        <form action="/update_status" method="POST">
          <input type="hidden" name="habitIndex" value="<%= index %>">
          <label>Status:</label>
          <select name="status">
            <option value="Done">Done</option>
            <option value="Not done">Not done</option>
            <option value="None">None</option>
          </select>
          <button type="submit">Update</button>
        </form>
        <ul>
          <% habit.status.forEach(item => { %>
            <li><%= item.date %> - <%= item.status %></li>
          <% }); %>
        </ul>
      </li>
    <% }); %>
  </ul>
  <a href="/new_habit">Add New Habit</a>
</body>
</html>
